#card{
    background-color: #4e4e4e;
    border-radius: 10px;
    width: 40%;
    height: 300px;
    margin-top: 200px;
}
form{
    display: flex;
    flex-direction: column;
    height: 60%;
}
input{
    height: 30px;
}
input::placeholder{
    font-size: 1.2em;
    color:black;
}
input[type="submit"]{
    margin-top: 50px;
    width: 25%;
    margin: auto ;
}
span{
    margin-top: 10px;
    text-align: center;
}